* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* display: grid;
	grid-template-columns: 1fr, 6; */
}
/* nav {
	position: relative;
	grid-column: 1;
	background-color: red;
	width: 100%;
	height: 100vh;
} */
main {
	width: 100%;
	height: 500vh;
	/* grid-column: 2 / 6; */
	background-color: blue;
	display: grid;
	grid-template-columns: 1fr, 6;
	grid-template-rows: repeat(8, 1fr);
	padding: 10%;
}

.hero-container {
	height: 30vh;
	width: 100vw;
	background-color: white;
}

.website-container {
	width: 100%;
	height: 80%;
	border: 3px solid black;
	background-color: white;
	border-radius: 10px;
	padding: 40px 1rem 10px 1rem;
}

.left {
	grid-column: 1/3;
}
.right {
	grid-column: 4/6;
}
.row1 {
	grid-row: 1;
}
.row2 {
	grid-row: 2;
}
.row3 {
	grid-row: 3;
}
.row4 {
	grid-row: 4;
}
.row5 {
	grid-row: 5;
}
.row6 {
	grid-row: 6;
}

.button {
	padding: 7px 20px;
	border-radius: 10px;
	border: 1px solid black;
	font-size: 1rem;
	margin-right: 1.5rem;
	margin-bottom: 1rem;
}
.img-container {
	position: relative;
	height: 100%;
	background-color: green;
}
